{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}
{% set menus = ['order', 'order_sum_tenpo_bumon'] %}

{% block title %}{{ 'admin.order.order_sum_tenpo_bumon'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.order.order_management'|trans }}{% endblock %}

{% form_theme searchForm '@admin/Form/bootstrap_4_layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">
    <style type="text/css">
        .datepicker-days th.dow:first-child,
        .datepicker-days td:first-child {
            color: #f00;
        }

        .datepicker-days th.dow:last-child,
        .datepicker-days td:last-child {
            color: #00f;
        }

        .order-search {
            float: left;
        }

        .order-search-clear {
            clear: both;
        }

        .hiddenItem {
            display: none;
        }

        .itemLine {}
        .bumonLine {}
        .tenpoLine { background-color: #afeeee; }
        .nebikiLine {}
        .taxLine {}
        .paymentLine { background-color: #afeeee; }
        .paymentDetail {}
    </style>
{% endblock stylesheet %}

{% block javascript %}
    <script src="{{ asset('assets/js/vendor/moment.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/moment-with-locales.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/tempusdominus-bootstrap-4.min.js', 'admin') }}"></script>

    <script>
        $(function() {
            // datetimepicker で value が消えてしまうので data-value に保持しておく
            $('input.datetimepicker-input').each(function() {
                $(this).data('value', $(this).val());
            });

            $('input.datetimepicker-input').datetimepicker({
                locale: '{{ eccube_config.locale }}',
                format: 'YYYY-MM-DD HH:mm:ss',
                useCurrent: false,
                buttons: {
                    showToday: true,
                    showClose: true
                },
            });

            // datetimepicker で value が消えてしまうので更新
            $('input.datetimepicker-input').each(function() {
                $(this).val($(this).data('value'));
            });

            toggleBtnBulk('input[id^="check_"]', '.btn-bulk-wrapper');
            $('input[id^="check_"]').on('change', function() {
                $('#toggle_check_all').prop('checked', false);
                toggleBtnBulk('input[id^="check_"]', '.btn-bulk-wrapper');
            });

            // 登録チェックボックス
            $('#toggle_check_all').on('change', function() {
                var checked = $(this).prop('checked');
                if (checked) {
                    $('input[id^="check_"]').prop('checked', true);
                } else {
                    $('input[id^="check_"]').prop('checked', false);
                }
                toggleBtnBulk('input[id^="check_"]', '.btn-bulk-wrapper');
            });

            // (HDN) 受注リスト
            $('#btn_list_juchu').on('click', function(event) {
                event.preventDefault();
                $('#list_type').val('juchu');
                if ($('#admin_search_order_saiji_id').val() == '') {
                    alert('イベントを指定してください');
                    return false;
                }
                $('#search_form').attr('action', "{{ url('admin_order_list_juchu') }}").submit();
                $('#search_form').attr('action', "{{ url('admin_order') }}");
                $('#list_type').val('');
                return false;
            });

            // (HDN) 出荷リスト
            $('#btn_list_shukka').on('click', function(event) {
                event.preventDefault();
                $('#list_type').val('shukka');
                if ($('#admin_search_order_saiji_id').val() == '') {
                    alert('イベントを指定してください');
                    return false;
                }
                $('#search_form').attr('action', "{{ url('admin_order_list_shukka') }}").submit();
                $('#search_form').attr('action', "{{ url('admin_order') }}");
                $('#list_type').val('');
                return false;
            });

            // 送り状番号
            var updateTrackingNumber = function(id, url, tracking_number, callback) {
                $.ajax({
                    type: 'PUT',
                    url: url,
                    data: {'tracking_number': tracking_number}
                }).done(function(data, textStatus, jqXHR) {
                    if (data['status'] == 'OK') {
                        $('#tracking_number_' + id).val(data['tracking_number']);
                        if (typeof callback == 'function') {
                            callback();
                        }
                    } else {
                        alert('Update failed.');
                    }
                    return true;
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    var response = JSON.parse(jqXHR.responseText);
                    var messages = '';
                    for (var i = 0; i < response.messages.length; i++) {
                        messages += response.messages[i] + "\n";
                    }
                    alert(messages);
                    return false;
                });
            };

            $('button.update_tracking_number').prop('disabled', true);
            // フォームに変更があったら更新ボタンを有効にする
            $('input.update_tracking_number').on('keyup', function(event) {
                var $tracking_number = $(this);
                var $button = $("button[data-target='#" + $tracking_number.attr('id') + "']");
                $button.prop('disabled', false);
                $button.children('i')
                    .removeClass('text-secondary')
                    .addClass('text-success');
            });
            // enter キーで更新し、次のフォームへフォーカスを移動する
            $('input.update_tracking_number').on('keypress', function(event) {
                var $tracking_number = $(this);
                var $button = $("button[data-target='#" + $tracking_number.attr('id') + "']");

                var code = event.which ? event.which : event.keyCode;

                if (code == 13) { // on press to enter
                    var index = $('input.update_tracking_number').index(this);
                    var callback = function() {
                        $button.prop('disabled', true);
                        $button.children('i')
                            .removeClass('text-success')
                            .addClass('text-secondary');
                        $('input.update_tracking_number:gt(' + index + '):first').focus();
                    };
                    updateTrackingNumber($tracking_number.data('shipping_id'), $tracking_number.data('url'), $tracking_number.val(), callback);
                    event.preventDefault();
                }
            });
            // 更新ボタンの制御
            $('button.update_tracking_number').on('click', function(event) {
                event.preventDefault();
                var $button = $(this);
                var $target = $($(this).data('target'));
                var tracking_number = $target.val();
                var callback = function() {
                    $button.prop('disabled', true);
                    $button.children('i')
                        .removeClass('text-success')
                        .addClass('text-secondary');
                };

        updateTrackingNumber($target.data('shipping_id'), $target.data('url'), tracking_number, callback);
    });

    // 完了ボタン
    $('#bulkChangeComplete').on('click', function() {
        location.href = '{{ url('admin_order', { 'resume': 1 }) }}';
    });

});
</script>

{{ include('@admin/Order/confirmationModal_js.twig') }}
{% endblock javascript %}

{% block main %}
    <!--検索条件設定テーブルここから-->
    <div class="c-outsideBlock">
        <form name="search_form" id="search_form" method="POST" action="{{ url('admin_order_sum_tenpo_bumon') }}">
            <div class="c-outsideBlock__contents">
                <div class="row">
                    <div class="col-12">
                        {{ form_widget(searchForm._token) }}
                        <div class="col-4 order-search">
                            <label class="col-form-label" data-tooltip="true" data-placement="top" title="{{ 'tooltip.order.saiji_id_label'|trans }}">{{ 'admin.order.saiji_id_label'|trans }}<i class="fa fa-question-circle fa-lg ml-1"></i></label>
                            {{ form_widget(searchForm.saiji_id) }}
                            {{ form_errors(searchForm.saiji_id) }}
                        </div>
                        <div class="col-4 order-search">
                            <label class="col-form-label" data-tooltip="true" data-placement="top" title="{{ 'tooltip.order.tenpo_id_label'|trans }}">{{ 'admin.order.tenpo_label'|trans }}<i class="fa fa-question-circle fa-lg ml-1"></i></label>
                            {{ form_widget(searchForm.tenpo_id) }}
                            {{ form_errors(searchForm.tenpo_id) }}
                        </div>
                        <div class="col-4 order-search">
                            <label class="col-form-label" data-tooltip="true" data-placement="top" title="{{ 'tooltip.order.bumon_id_label'|trans }}">{{ 'admin.order.bumon_label'|trans }}<i class="fa fa-question-circle fa-lg ml-1"></i></label>
                            {{ form_widget(searchForm.bumon_id) }}
                            {{ form_errors(searchForm.bumon_id) }}
                        </div>
                        <div class="order-search-clear hiddenItem">
                            <div class="order-search col-4">
                                <label class="col-form-label" data-tooltip="true" data-placement="top" title="{{ 'tooltip.order.multi_search_label'|trans }}">{{ 'admin.order.multi_search_label'|trans }}<i class="fa fa-question-circle fa-lg ml-1"></i></label>
                                {{ form_widget(searchForm.multi) }}
                                {{ form_errors(searchForm.multi) }}
                            </div>
                            <div class="order-search col-4">
                                <label class="col-form-label"  data-tooltip="true" data-placement="top" title="{{ 'tooltip.order.order_search_status'|trans }}">{{ 'admin.order.order_status'|trans }}<i class="fa fa-question-circle fa-lg ml-1"></i></label>
                                <div id="admin_search_order_status">
                                    {% set statusForm = searchForm.status %}
                                    <!-- 各対応状況の件数を表示する -->
                                    {% for status_id, child in statusForm.children %}
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox"
                                                id="{{ child.vars.id }}"
                                                name="{{ child.vars.full_name }}"
                                                class="form-check-input"
                                                value="{{ child.vars.value }}"{{ child.vars.checked ? ' checked="checked"' }}>
                                            <label class="form-check-label" for="{{ child.vars.id }}">{{ child.vars.label }}</label>
                                            {%- if statusForm.vars.order_count[status_id].display -%}
                                                (<a href="{{ url('admin_order', { 'order_status_id': status_id }) }}">{{ statusForm.vars.order_count[status_id].count }}</a>)
                                            {%- endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                {{ form_errors(searchForm.status) }}
                            </div>
                            <div class="order-search col-4">
                                <p class="col-form-label">{{ 'admin.common.payment_method'|trans }}</p>
                                {{ form_widget(searchForm.payment, { 'label_attr': { 'class': 'checkbox-inline'}}) }}
                                {{ form_errors(searchForm.payment) }}
                            </div>
                        </div>
                        <div class="col-6 order-search hiddenItem">
                            <label class="col-form-label">{{ 'admin.order.reception_date_label'|trans }}</label>
                            <div class="form-row align-items-center">
                                <div class="col">
                                    {{ form_widget(searchForm.order_datetime_start) }}
                                    {{ form_errors(searchForm.order_datetime_start) }}
                                </div>
                                <div class="col-auto text-center">{{ 'admin.common.separator__range'|trans }}</div>
                                <div class="col">
                                    {{ form_widget(searchForm.order_datetime_end) }}
                                    {{ form_errors(searchForm.order_datetime_end) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 order-search hiddenItem">
                            <label class="col-form-label">{{ 'admin.order.delivery_date_label'|trans }}</label>
                            <div class="form-row align-items-center">
                                <div class="col">
                                    <div class="input-group">
                                        {{ form_widget(searchForm.shipping_delivery_datetime_start) }}
                                        {{ form_errors(searchForm.shipping_delivery_datetime_start) }}
                                    </div>
                                </div>
                                <div class="col-auto text-center">{{ 'admin.common.separator__range'|trans }}</div>
                                <div class="col">
                                    <div class="input-group">
                                        {{ form_widget(searchForm.shipping_delivery_datetime_end) }}
                                        {{ form_errors(searchForm.shipping_delivery_datetime_end) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row hiddenItem">
                            <div class="form-group col-12">
                                <label class="col-form-label"  data-tooltip="true" data-placement="top" title="{{ 'tooltip.order.order_search_status'|trans }}">{{ 'admin.order.order_status'|trans }}<i class="fa fa-question-circle fa-lg ml-1"></i></label>
                                <div id="admin_search_order_status">
                                    {% set statusForm = searchForm.status %}
                                    <!-- 各対応状況の件数を表示する -->
                                    {% for status_id, child in statusForm.children %}
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox"
                                                   id="{{ child.vars.id }}"
                                                   name="{{ child.vars.full_name }}"
                                                   class="form-check-input"
                                                   value="{{ child.vars.value }}"{{ child.vars.checked ? ' checked="checked"' }}>
                                            <label class="form-check-label" for="{{ child.vars.id }}">{{ child.vars.label }}</label>
                                            {%- if statusForm.vars.order_count[status_id].display -%}
                                                (<a href="{{ url('admin_order', { 'order_status_id': status_id }) }}">{{ statusForm.vars.order_count[status_id].count }}</a>)
                                            {%- endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                {{ form_errors(searchForm.status) }}
                            </div>
                        </div>
                        <!--
                        <div class="d-inline-block mb-3 collapsed order-search-clear" data-toggle="collapse" href="#searchDetail" aria-expanded="false" aria-controls="searchDetail">
                            <a>
                                <i class="fa font-weight-bold mr-1 fa-plus-square-o">
                                    <span class="font-weight-bold">{{ 'admin.common.search_detail'|trans }}</span>
                                </i>
                            </a>
                        </div>
                        -->
                    </div>
                </div>
            </div>
            <div class="c-subContents ec-collapse collapse{{ has_errors ? ' show' }}" id="searchDetail">
                <div class="row">
                    <div class="col">
                        <label class="col-form-label">{{ 'admin.order.orderer_name'|trans }}</label>
                        {{ form_widget(searchForm.name) }}
                        {{ form_errors(searchForm.name) }}
                    </div>
                    <div class="col">
                        <div class="form-row">
                            <div class="col-12">
                                <p class="col-form-label">{{ 'admin.common.payment_method'|trans }}</p>
                                {{ form_widget(searchForm.payment, { 'label_attr': { 'class': 'checkbox-inline'}}) }}
                                {{ form_errors(searchForm.payment) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-form-label">{{ 'admin.order.orderer_kana'|trans }}</label>
                        {{ form_widget(searchForm.kana) }}
                        {{ form_errors(searchForm.kana) }}
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-form-label">{{ 'admin.order.orderer_company_name'|trans }}</label>
                        {{ form_widget(searchForm.company_name) }}
                        {{ form_errors(searchForm.company_name) }}
                    </div>
                    <div class="col">
                        <label class="col-form-label">{{ 'admin.order.payment_date'|trans }}</label>
                        <div class="form-row align-items-center">
                            <div class="col">
                                {{ form_widget(searchForm.payment_datetime_start) }}
                                {{ form_errors(searchForm.payment_datetime_start) }}
                            </div>
                            <div class="col-auto text-center">{{ 'admin.common.separator__range'|trans }}</div>
                            <div class="col">
                                {{ form_widget(searchForm.payment_datetime_end) }}
                                {{ form_errors(searchForm.payment_datetime_end) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-form-label">{{ 'admin.common.mail_address'|trans }}</label>
                        {{ form_widget(searchForm.email) }}
                        {{ form_errors(searchForm.email) }}
                    </div>
                    <div class="col">
                        <label class="col-form-label">{{ 'admin.common.update_date'|trans }}</label>
                        <div class="form-row align-items-center">
                            <div class="col">
                                {{ form_widget(searchForm.update_datetime_start) }}
                                {{ form_errors(searchForm.update_datetime_start) }}
                            </div>
                            <div class="col-auto text-center">{{ 'admin.common.separator__range'|trans }}</div>
                            <div class="col">
                                {{ form_widget(searchForm.update_datetime_end) }}
                                {{ form_errors(searchForm.update_datetime_end) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-form-label">{{ 'admin.common.phone_number'|trans }}</label>
                        {{ form_widget(searchForm.phone_number) }}
                        {{ form_errors(searchForm.phone_number) }}
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-form-label">{{ 'admin.order.order_no'|trans }}</label>
                        {{ form_widget(searchForm.order_no) }}
                        {{ form_errors(searchForm.order_no) }}
                    </div>
                    <div class="col">
                        <label class="col-form-label">{{ 'admin.order.purchase_price'|trans }}</label>
                        <div class="form-row align-items-center">
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(searchForm.payment_total_start) }}
                                    {{ form_errors(searchForm.payment_total_start) }}
                                </div>
                            </div>
                            <div class="col-auto text-center">{{ 'admin.common.separator__range'|trans }}</div>
                            <div class="col">
                                <div class="input-group">
                                    {{ form_widget(searchForm.payment_total_end) }}
                                    {{ form_errors(searchForm.payment_total_end) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-row">
                            <div class="col-12">
                                <p class="col-form-label">{{ 'admin.order.tracking_number'|trans }}</p>
                                {{ form_widget(searchForm.tracking_number) }}
                                {{ form_errors(searchForm.tracking_number) }}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-form-label">{{ 'admin.order.purchase_product'|trans }}</label>
                        {{ form_widget(searchForm.buy_product_name) }}
                        {{ form_errors(searchForm.buy_product_name) }}
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col">
                        <div class="form-row">
                            <div class="col-12">
                                <p class="col-form-label">{{ 'admin.order.shipping_mail'|trans }}</p>
                                {{ form_widget(searchForm.shipping_mail,  { 'label_attr': { 'class': 'checkbox-inline' }}) }}
                                {{ form_errors(searchForm.shipping_mail) }}
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>

            </div>
            <div class="c-outsideBlock__contents">
                <div class="row">
                    <!--<div class="mb-4">-->
                    <div class="col-12">
                        <div class="col-8 p-3">
                            <button class="btn btn-ec-conversion px-5" type="submit" id="search_submit">{{ 'admin.common.search'|trans }}</button>
                            <input type="hidden" name="list_type" id="list_type">
                            <button type="button" class="btn btn-ec-regular" id="btn_list_juchu">
                                <i class="fa fa-cloud-download mr-1 text-secondary"></i>
                                <span>{{ 'admin.order.list_juchu'|trans }}</span>
                            </button>
                            <button type="button" class="btn btn-ec-regular" id="btn_list_shukka">
                                <i class="fa fa-cloud-download mr-1 text-secondary"></i>
                                <span>{{ 'admin.order.list_shukka'|trans }}</span>
                            </button>
                        </div>
                    </div>
                    <!--</div>-->
                </div>
            </div>
            <div class="c-outsideBlock__contents mb-5">
                {{ include('@admin/search_items.twig', { 'form': searchForm }, ignore_missing = true) }}
            </div>
        </form>
    </div>
    <!--検索条件設定テーブルここまで-->

    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                {% if posOfDate %}

                    <form id="form_bulk" method="POST" action="">
                        <input type="hidden" name="{{ constant('Eccube\\Common\\Constant::TOKEN_NAME') }}" value="{{ csrf_token(constant('Eccube\\Common\\Constant::TOKEN_NAME')) }}">
                        <div class="card rounded border-0 mb-4 d-block">
                            <div class="card-body p-0">
                                <table class="table table-sm" id="search_result">
                                    <thead>
                                    <tr>
                                        <th class="border-top-0 pt-2 pb-2 text-center pl-3">{{ 'admin.order.saiji_id_label'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2 text-center">{{ 'admin.order.tenpo_label'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2 text-center">{{ 'admin.order.bumon_label'|trans }}</th>
                                        {% for dt,pos in posOfDate %}
                                            <th class="border-top-0 pt-2 pb-2 text-center">{{ dt }}</th>
                                        {% endfor %}
                                        <th class="border-top-0 pt-2 pb-2 text-center">{{ 'admin.order.purchase_count'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2 text-center">{{ 'admin.order.amount'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2 text-center pr-3">{{ 'admin.order.purchase_price'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for Order in lines %}
                                        <tr class='{{ Order.kbn == 'bumon' ? 'bumonLine' : 'tenpoLine' }}'>
                                            <td class="align-middle text-center pl-3">
                                                {{ Order.saiji_name == null ? '' : Order.saiji_name }}
                                            </td>
                                            <td class="align-middle text-center">
                                                {{ Order.tenpo_name == null ? '' : Order.tenpo_name }}
                                            </td>
                                            <td class="align-middle text-center">
                                                {{ Order.bumon_name == null ? '**売上合計**' : Order.bumon_name }}
                                            </td>
                                            {% for dt,pos in posOfDate %}
                                                <td class="align-middle text-right">
                                                    {{ Order.base_kingaku[pos] == 0 ? '' : Order.base_kingaku[pos]|price }}<br/>
                                                    {{ Order.quantity[pos] == 0 ? '' : Order.quantity[pos]|number_format }}<br/>
                                                </td>
                                            {% endfor %}
                                            <td class="align-middle text-right">
                                                {{ Order.sum_quantity|number_format }}
                                            </td>
                                            <td class="align-middle text-right">
                                                {{ Order.sum_base_kingaku|price }}
                                            </td>
                                            <td class="align-middle text-right">
                                                {{ Order.sum_kingaku|price }}
                                            </td>
                                        </tr>
                                        {% if Order.kbn == 'tenpo' %}
                                            <tr class="nebikiLine">
                                                <td colspan="2">&nbsp;</td>
                                                <td class="align-middle text-center">特典割引</td>
                                                {% for dt,pos in posOfDate %}
                                                    {% set wari_else_kingaku = Order.wari_a_kingaku[pos] + Order.wari_kikan_kingaku[pos] + Order.wari_matome_kingaku[pos] %}
                                                    <td class="align-middle text-right">{{ wari_else_kingaku|price }}</td>
                                                {% endfor %}
                                                <td>&nbsp;</td>
                                                {% set sum_wari_else_kingaku = Order.sum_wari_a_kingaku + Order.sum_wari_kikan_kingaku + Order.sum_wari_matome_kingaku %}
                                                <td class="align-middle text-right">{{ sum_wari_else_kingaku|price }}</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr class="nebikiLine">
                                                <td colspan="2">&nbsp;</td>
                                                <td class="align-middle text-center">社員割引</td>
                                                {% for dt,pos in posOfDate %}
                                                    <td class="align-middle text-right">{{ Order.wari_b_kingaku[pos]|price }}</td>
                                                {% endfor %}
                                                <td>&nbsp;</td>
                                                <td class="align-middle text-right">{{ Order.sum_wari_b_kingaku|price }}</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr class="paymentLine">
                                                <td colspan="2">&nbsp;</td>
                                                <td class="align-middle text-center">**小計**</td>
                                                {% for dt,pos in posOfDate %}
                                                    <td class="align-middle text-right">{{ Order.kingaku[pos]|price }}</td>
                                                {% endfor %}
                                                <td>&nbsp;</td>
                                                <td class="align-middle text-right">{{ Order.sum_kingaku|price }}</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            {% for idx,taxDtl in Order.sumByTax %}
                                                {% if idx not in ['total','kinshu','sum_total','sum_kinshu'] %}
                                                <tr class="taxLine">
                                                    <td colspan="2">&nbsp;</td>
                                                    <td class="align-middle text-center">{{ taxDtl.tax_rate }}％分 売上</td>
                                                    {% for dt,pos in posOfDate %}
                                                        <td class="align-middle text-right">{{ taxDtl.kingaku[pos]|price }}</td>
                                                    {% endfor %}
                                                    <td>&nbsp;</td>
                                                    <td class="align-middle text-right">{{ taxDtl.sum_kingaku|price }}</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr class="taxLine">
                                                    <td colspan="2">&nbsp;</td>
                                                    <td class="align-middle text-center">{{ taxDtl.tax_rate }}％分 税額</td>
                                                    {% for dt,pos in posOfDate %}
                                                        <td class="align-middle text-right">{{ taxDtl.tax[pos]|price }}</td>
                                                    {% endfor %}
                                                    <td>&nbsp;</td>
                                                    <td class="align-middle text-right">{{ taxDtl.sum_tax|price }}</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                            <tr class="paymentLine">
                                                <td colspan="2">&nbsp;</td>
                                                <td class="align-middle text-center">**支払合計**</td>
                                                {% for dt,pos in posOfDate %}
                                                    <!--
                                                    <td class="align-middle text-right">{{ Order.kingaku[pos]|price }}</td>
                                                    -->
                                                    <td class="align-middle text-right">{{ Order.sumByTax.total[pos]|price }}</td>
                                                {% endfor %}
                                                <td>&nbsp;</td>
                                                <td class="align-middle text-right">{{ Order.sumByTax.sum_total|price }}</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            {% for idx,kinshuDtl in Order.sumByTax.kinshu %}
                                                <tr class="paymentDetail">
                                                    <td colspan="2">&nbsp;</td>
                                                    <td class="align-middle text-center">{{ idx }}</td>
                                                    {% for dt,pos in posOfDate %}
                                                        <td class="align-middle text-right">{{ kinshuDtl[pos]|price }}</td>
                                                    {% endfor %}
                                                    <td>&nbsp;</td>
                                                    <td class="align-middle text-right">{{ Order.sumByTax.sum_kinshu[idx]|price }}</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            {% endfor %}
                                            <!--
                                            <tr class="paymentDetail">
                                                <td colspan="2">&nbsp;</td>
                                                <td class="align-middle text-center">現金</td>
                                                {% for dt,pos in posOfDate %}
                                                    <td class="align-middle text-right">{{ Order.kingaku_genkin[pos]|price }}</td>
                                                {% endfor %}
                                                <td colspan="3">&nbsp;</td>
                                            </tr>
                                            <tr class="paymentDetail">
                                                <td colspan="2">&nbsp;</td>
                                                <td class="align-middle text-center">FC電子マネー</td>
                                                {% for dt,pos in posOfDate %}
                                                    <td class="align-middle text-right">{{ Order.kingaku_denshi[pos]|price }}</td>
                                                {% endfor %}
                                                <td colspan="3">&nbsp;</td>
                                            </tr>
                                            <tr class="paymentDetail">
                                                <td colspan="2">&nbsp;</td>
                                                <td class="align-middle text-center">クレジット</td>
                                                {% for dt,pos in posOfDate %}
                                                    <td class="align-middle text-right">{{ Order.kingaku_credit[pos]|price }}</td>
                                                {% endfor %}
                                                <td colspan="3">&nbsp;</td>
                                            </tr>
                                            -->
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="row justify-content-md-center mb-4"></div>
                            </div>
                            <div class="row justify-content-md-center mb-4">
                            </div>
                        </div>
                    </form>
                    {# 検索条件エラー時 #}
                {% elseif has_errors %}
                    <div class="card rounded border-0">
                        <div class="card-body p-4">
                            <div class="text-center text-muted mb-4 h5">{{ 'admin.common.search_invalid_condition'|trans }}</div>
                            <div class="text-center text-muted">{{ 'admin.common.search_try_change_condition'|trans }}</div>
                        </div>
                    </div>
                    {# 検索結果なし #}
                {% else %}
                    <div class="card rounded border-0">
                        <div class="card-body p-4">
                            <div class="text-center text-muted mb-4 h5">{{ 'admin.common.search_try_set_saiji'|trans }}</div>
                            <div class="text-center text-muted">{{ 'admin.common.search_try_change_condition'|trans }}</div>
                            <div class="text-center text-muted">{{ 'admin.common.search_try_advanced_search'|trans }}</div>
                        </div>
                    </div>
                {% endif %}

                <!-- 出荷済にする確認モーダル -->
                <div class="modal fade" id="sentUpdateModal" tabindex="-1" role="dialog" aria-labelledby="sentUpdateModal" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-weight-bold"><!--confirmationModal_js.twig--></h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <p class="modal-message"></p>
                                <ul id="bulkErrors"></ul>
                                <div id="bulk-options">
                                    <div class="font-weight-bold mb-2 notificationMail">{{ 'admin.order.to_shipped__confirm_send_mail'|trans }}</div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="notificationMail">
                                        <label class="form-check-label notificationMail">
                                            {{ 'admin.order.to_shipped__confirm_send_mail_in_same_time'|trans }}
                                        </label>
                                    </div>
                                    <div>
                                        <div class="d-inline-block" data-toggle="collapse" href="#viewEmail" aria-expanded="false" aria-controls="viewEmail"><a><i class="fa fa-plus-square-o font-weight-bold mr-1"></i><span class="font-weight-bold">{{ 'admin.order.bulk_action__confirm_view_mail_body'|trans }}</span></a></div>
                                        <div class="collapse bg-light p-4 ec-collapse bg-ec-formGray" id="viewEmail" style="word-wrap: break-word; word-break:break-all">
                                            <pre></pre>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress" style="display: none">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-ec-sub" type="button" data-dismiss="modal">{{ 'admin.common.cancel'|trans }}</button>
                                <button id="bulkChange" class="btn btn-ec-conversion" type="button"><!--confirmationModal_js.twig--></button>
                                <button id="bulkChangeComplete" class="btn btn-ec-regular" style="display: none" type="button">{{ 'admin.common.close'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 一括削除の確認モーダル -->
                <div class="modal fade" id="bulkDeleteModal" tabindex="-1" role="dialog" aria-labelledby="discontinuance" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-weight-bold">{{ 'admin.order.delete__confirm_title'|trans }}</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body text-left">
                                <p class="text-left">{{ 'admin.order.delete__confirm_message'|trans }}</p>
                                <ul id="bulkErrors"></ul>
                                <div class="progress" style="display: none">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-ec-sub" type="button" data-dismiss="modal">{{ 'admin.common.cancel'|trans }}</button>
                                <button class="btn btn-ec-delete" type="button" id="btn_bulk_delete">{{ 'admin.common.delete' | trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
