{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block javascript %}
    <script>
    //     $(function() {
    //     textShainFlg();

    //     var $redirectCallback = function() {
    //         loadingOverlay();
    //         $('#shopping_order_redirect_to').val($(this).attr('data-path'));
    //         $('#shopping-form').attr('action', '{{ url("shopping_redirect_to") }}').submit();
    //         setTimeout(function () {
    //             loadingOverlay("hide");
    //         }, 2000);
    //     };

    //     $('[data-trigger]').each(function() {
    //         $(this).on($(this).attr('data-trigger'), $redirectCallback);
    //     });

    //     {% if is_granted('ROLE_USER') == false %}
    //     var edit = $('.customer-edit');
    //     var hidden = $('.customer-form');
    //     var form = $('.customer-form');

    //     //編集ボタンクリック時の処理
    //     $('#customer').click(function() {
    //         $(edit).each(function(index) {
    //             var originalValue = $(hidden[index]).val();
    //             var fieldName = $(hidden[index]).attr('name');

    //             //社員フラグの場合はチェックボックスを表示
    //             if(fieldName === 'customer_shain_flg') {
    //                 var isChecked = originalValue == 1 ? 'checked' : '';
    //                 var input = $('<input type="checkbox" class="form-control" ' + isChecked + ' />').val(originalValue);
    //                 $(form[index]).empty().append(input);
    //             } else {
    //                 //その他のフィールドはテキスト入力を表示
    //                 var input = $('<input type="text" class="form-control" />').val(originalValue);
    //                 $(form[index]).empty().append(input);
    //             }
    //         });

    //         $('.non-customer-display').hide();
    //         $('.non-customer-edit').show();
    //         $('.mod-button').show();
    //     });

    //     //更新確定ボタンクリック時の処理
    //     $('#customer-ok').click(function() {
    //         var postData = {};

    //         //フォームの値を収集
    //         $(form).each(function(index) {
    //             var fieldName = $(this).attr('name');
    //             var value;

    //             if(fieldName === 'customer_shain_flg') {
    //                 value = $(this).find('input').prop('checked') ? '1' : '0';
    //             } else {
    //                 value = $(this).find('input').val();
    //             }

    //             postData[fieldName] = value;
    //             $(hidden[index]).val(value);
    //         });

    //         loadingOverlay();

    //         //APIリクエストを送信
    //         $.ajax({
    //             url: "{{ url('shopping_customer') }}",
    //             type: 'POST',
    //             data: postData,
    //             dataType: 'json'
    //         }).done(function(data) {
    //             if (data.status === 'OK') {
    //                 //画面の表示を更新
    //                 updateDisplayValues(data);
    //                 updateHiddenValues(data);

    //                 $('.non-customer-display').show();
    //                 $('.non-customer-edit').hide();
    //                 $('.mod-button').hide();

    //                 textShainFlg();
    //             } else {
    //                 alert('更新に失敗しました: ' + (data.message || '不明なエラー'));
    //             }
    //         }).fail(function(error) {
    //             console.error('更新エラー:', error);
    //             alert('更新に失敗しました。入力内容を確認してください。');
    //         }).always(function() {
    //             loadingOverlay('hide');
    //         });
    //     });

    //     //キャンセルボタンクリック時の処理
    //     $('#customer-cancel').click(function() {
    //         $('.non-customer-display').show();
    //         $('.non-customer-edit').hide();
    //         $('.mod-button').hide();
    //     });
    //     {% endif %}
    // });

    // //表示値の更新関数
    // function updateDisplayValues(data) {
    //     const displayFields = [
    //         'name01', 'name02', 'kana01', 'kana02',
    //         'h_postal_code', 'h_addr1', 'h_addr2', 'h_phone_number',
    //         'h_name1', 'h_name2', 'h_kana1', 'h_kana2',
    //         'postal_code', 'addr01', 'addr02', 'phone_number'
    //     ];

    //     displayFields.forEach((field, index) => {
    //         if (data[field] !== undefined) {
    //             $(`.customer-edit:eq(${index})`).text(data[field]);
    //         }
    //     });
    // }

    // //hidden値の更新関数
    // function updateHiddenValues(data) {
    //     const hiddenFields = [
    //         'name01', 'name02', 'kana01', 'kana02',
    //         'h_postal_code', 'h_addr1', 'h_addr2', 'h_phone_number',
    //         'h_name1', 'h_name2', 'h_kana1', 'h_kana2',
    //         'postal_code', 'addr01', 'addr02', 'phone_number'
    //     ];

    //     hiddenFields.forEach(field => {
    //         if (data[field] !== undefined) {
    //             $(`#customer-${field}`).val(data[field]);
    //         }
    //     });
    // }

    // //社員フラグのテキスト表示更新関数
    // function textShainFlg() {
    //     const customerShainFlg = $('#customer-shain_flg').val();
    //     $('#customer-shain').text(customerShainFlg == 1 ? '社員' : '一般');
    // }
            $(function() {
            textShainFlg();

            var $redirectCallback = function() {
                loadingOverlay();
                $('#shopping_order_redirect_to').val($(this).attr('data-path'));
                $('#shopping-form').attr('action', '{{ url("shopping_redirect_to") }}').submit();
                setTimeout(function () {
                    loadingOverlay("hide");
                }, 2000);
            };

            $('[data-trigger]').each(function() {
                $(this).on($(this).attr('data-trigger'), $redirectCallback);
            });

            {% if is_granted('ROLE_USER') == false %}
            var edit = $('.customer-edit');
            var hidden = $('.customer-in');
            var form = $('.customer-form');

            //編集ボタンクリック時の処理
            $('#customer').click(function() {
               $(edit).each(function(index) {
                   //alert('hidden'+index+':'+$(hidden[index]).attr('name'));
                   var shainFlgName = $(hidden[index]).attr('name');
                   if(shainFlgName == 'customer_shain_flg') {
                       //var shainFlgVal = $(this).val();
                       var wChecked = ( $(this).text() == 1 ? 'checked' : '' ) ;
                       //alert('customer_shain_flg:'+$(this).text()+' wChecked:'+wChecked);
                       var input = $('<input id="edit' + index + '" type="checkbox" '+wChecked+' />').val(1);
                       $(form[index]).empty().append(input);
                   } else {
                       var name = $(this).text();
                       var input = $('<input id="edit' + index + '" type="text" />').val(name);
                       $(form[index]).empty().append(input);
                   }
               });

               $('.non-customer-display').hide();
               $('.non-customer-edit').show();
               $('.mod-button').show();
           });

           //更新確定ボタンクリック時の処理
           $('#customer-ok').click(function() {
            $(form).each(function(index) {
                var shainFlgName = $(hidden[index]).attr('name');
                   if(shainFlgName == 'customer_shain_flg') {
                       if ( $(form[index]).children('input').prop('checked') ) {
                           $(hidden[index]).val('1');
                       } else {
                           $(hidden[index]).val('0');
                       }
                       $(form[index]).children('input').val($(hidden[index]).val());
                       //alert('val:'+index+':'+$(hidden[index]).val());
                   } else {
                       $(hidden[index]).val($(form[index]).children('input').val());
                       //alert('val:'+index+':'+$(form[index]).children('input').val());
                   }
               });
               //$('#customer-name01').val($('#customer-kana01').val());
               //$('#customer-name02').val($('#customer-kana02').val());
               var postData = {};
                $(hidden).each(function() {
                    postData[$(this).attr('name')] = $(this).val();
                });

                loadingOverlay();
                //POSTDATA
                console.log(postData);

            $.ajax({
                url: "{{ url('shopping_customer') }}",
                type: 'POST',
                data: postData,
                dataType: 'json'
            }).done(function(data) {
                console.log(data);

                if (data.status == 'OK') {
                    // 画面の表示を更新
                    updateDisplayValues(data);
                    updateHiddenValues(data);
                    $(form).each(function(index) {
                        $(edit[index]).empty().text($(form[index]).children('input').val());
                        $(form[index]).empty();
                    });

                       //Fixed更新用フィールド　2024/11/13 田中
                       $(edit[0]).empty().text(data.name01);
                       $(edit[1]).empty().text(data.name02);
                       $(edit[2]).empty().text(data.kana01);
                       $(edit[3]).empty().text(data.kana02);
                       $(edit[4]).empty().text(data.pref);
                       $(edit[5]).empty().text(data.h_pref);
                       //$(edit[6]).empty().text(data.visit_t);
                       $(edit[7]).empty().text(data.h_postal_code);
                       $(edit[8]).empty().text(data.h_addr1);
                       $(edit[9]).empty().text(data.h_addr2);
                       $(edit[10]).empty().text(data.h_phone_number);
                       $(edit[11]).empty().text(data.h_name1);
                       $(edit[12]).empty().text(data.h_name2);
                       $(edit[13]).empty().text(data.h_kana1);
                       $(edit[14]).empty().text(data.h_kana2);
                       $(edit[15]).empty().text(data.postal_code);
                       $(edit[16]).empty().text(data.addr01);
                       $(edit[17]).empty().text(data.addr02);
                       $(edit[18]).empty().text(data.phone_number);
                       $('#customer-name01').val(data.name01);
                       $('#customer-name02').val(data.name02);
                       $('#customer-kana01').val(data.kana01);
                       $('#customer-kana02').val(data.kana02);
                       $('#customer-addr01').val(data.addr01);
                       $('#customer-addr02').val(data.addr02);
                       $('#customer-pref').val(data.pref);
                       $('#customer-h_addr1').val(data.h_addr1);
                       $('#customer-h_addr2').val(data.h_addr2);
                       $('#customer-h_postal_code').val(data.h_postal_code);
                       $('#customer-h_pref').val(data.h_pref);
                       $('#customer-h_phone_number').val(data.h_phone_number);
                       $('#customer-h_name1').val(data.h_name1);
                       $('#customer-h_name2').val(data.h_name2);
                       $('#customer-h_kana1').val(data.h_kana1);
                       $('#customer-h_kana2').val(data.h_kana2);
                   }

                   textShainFlg();
                   $('.non-customer-display').show();
                   $('.non-customer-edit').hide();
                   $('.mod-button').hide();

                // }).fail(function(data) {
                //     //console.log(data);
                //     alert('更新に失敗しました。入力内容を確認してください。');
                //     return false;
               }).always(function(data) {
                   //overlayを無効
                   loadingOverlay('hide');
               });

               /*
               $('.non-customer-display').show();
               $('.non-customer-edit').hide();
               $('.mod-button').hide();
               */
           });

           $('#customer-cancel').click(function() {
               $('.non-customer-display').show();
               $('.non-customer-edit').hide();
               $('.mod-button').hide();
           });
           {% endif %}
        });

        //社員フラグのテキスト表示更新関数
        function textShainFlg() {
            const customerShainFlg = $('#customer-shain_flg').val();
            $('#customer-shain').text(customerShainFlg == 1 ? '社員' : '一般');
        }

         //お引き渡し情報　お引き渡し日バリデーション無効化 2024/11/19
         $(function() {

                $('#form-control').submit(function(e) {
                    // お引き渡し日の必須チェックを削除
                    $('#shopping_order_Shippings_0_shipping_delivery_date').removeAttribute('require');

                    return true; // フォームの送信を許可
                });
                console.log('require削除');

                //「確認する」ボタンクリック時の処理
                $('.ec-orderRole__summary .ec-submitButton').click(function() {
                    //お引き渡し日関連のエラー表示をクリア
                    $('.ec-errorMessage').filter(function() {
                        return $(this).text().includes('お引き渡し日');
                    }).remove();

                    //フォームの送信を許可
                    return true;
                });
            });

    </script>

    <style>
    dl.hiddenItem {
        display: none !important;
    }
    .hiddenItem {
        display: none !important;
    }
    </style>
{% endblock javascript %}

{% block main %}

    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'ご注文手続き'|trans }}</h1>
        </div>
    </div>

    <div class="ec-cartRole">
        <div class="ec-cartRole__progress">
            <ul class="ec-progress">
                {% set step = 1 %}
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'カートの商品'|trans }}
                    </div>
                </li>
                {% if is_granted('ROLE_USER') == false %}
                    <li class="ec-progress__item">
                        <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                        </div>
                        <div class="ec-progress__label">{{ 'お客様情報'|trans }}
                        </div>
                    </li>
                {% endif %}
                <li class="ec-progress__item is-complete">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'ご注文手続き'|trans }}
                    </div>
                </li>
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'ご注文内容確認'|trans }}
                    </div>
                </li>
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ '完了'|trans }}
                    </div>
                </li>
            </ul>
        </div>

        <!-- アラートメッセージ -->
        {{ include('Shopping/alert.twig') }}
    </div>
   <form id="shopping-form" method="post" action="{{ url('shopping_confirm') }}">
        {{ form_widget(form._token) }}
        {{ form_widget(form.redirect_to) }}
        <div class="ec-orderRole">
            <div class="ec-orderRole__detail">
                <div class="ec-orderAccount">
                    <div class="ec-rectHeading">
                        <h2>{{ 'お客様情報'|trans }}</h2>
                    </div>
                    {% if is_granted('ROLE_USER') == false %}
                        <div class="ec-orderAccount__change non-customer-display">
{#                            <button id="customer" class="ec-inlineBtn" type="button">{{ '変更'|trans }}</button>#}
                        </div>
                    {% endif %}
                    <div class="ec-orderAccount__account non-customer-display">
                        <p class="ec-halfInput">お名前（漢字）：<span class="customer-edit customer-name01">{{ Order.name01 }}</span> <span class="customer-edit customer-name02">{{ Order.name02 }}</span>{{ ' 様'|trans }}</p>
                        <p class="ec-halfInput">お名前（カナ）：<span class="customer-edit customer-kana01">{{ Order.kana01 }}</span> <span class="customer-edit customer-kana02">{{ Order.kana02 }}</span>{{ ' 様'|trans }}</p>
                        {# 受取方法追加　2024/08/23 田中 #}
                        <p class="ec-input">受　取　方　法：<span class="customer-edit customer-uketori">{{ Order.uketori }}</p>
                        <p class="ec-telInput">電　話　番　号：<span class="customer-edit customer-phone_number">{{ Order.phone_number }}</span></p>
                        {% if Order.uketori !='店頭受取' %}
                        <p class="ec-input">お届け先 郵便番号：<span class="customer-edit customer-h_postal_code">{{ Order.h_postal_code }}</p>
                        <p class="ec-input">お届け先 住所：<span class="customer-edit customer-h_pref customer-h_addr1 customer-h_addr2">{{ Order.h_pref }}{{ Order.h_addr1 }}{{ Order.h_addr2 }}</p>
                        <p class="ec-nput">お届け先　お名前（漢字）：<span class="customer-edit customer-h_name1 customer-name2">{{ Order.h_name1}}{{ Order.h_name2}}</p>
                        <p class="ec-halfInput">お届け先　お名前（カナ）：<span class="customer-edit customer-h_kana1 customer-kana2">{{ Order.h_kana1}}{{ Order.h_kana2}}</p>
                        <p class="ec-telInput">お届け先　お電話番号：<span class="customer-edit customer-h_phone_number">{{ Order.h_phone_number }}</p>
                        {% endif %}
                        <p class="ec-input hiddenItem"><span class="customer-edit customer-company_name">{{ Order.companyName }}</span></p>
                    {% if eccube_config.hdn_delivery_address_use %}
                        <p class="ec-zipInput hiddenItem">郵　便　番　号：<span class="customer-edit customer-postal_code">{{ Order.postal_code }}</span></p>
                        <p class="ec-input hiddenItem">住　　　　　所：<span class="customer-edit customer-pref">{{ Order.pref }}</span><span class="customer-edit customer-addr01">{{ Order.addr01 }}</span><span class="customer-edit customer-addr02">{{ Order.addr02 }}</span></p>
                    {% else %}
                        <p class="ec-zipInput hiddenItem">〒<span class="customer-edit customer-postal_code">{{ Order.postal_code }}</span></p>
                        <p class="ec-input hiddenItem"><span class="customer-edit customer-pref">{{ Order.pref }}</span><span class="customer-edit customer-addr01">{{ Order.addr01 }}</span><span class="customer-edit customer-addr02">{{ Order.addr02 }}</span></p>
                    {% endif %}
                        <p class="ec-input hiddenItem"><span class="customer-edit customer-email">{{ Order.email }}</span></p>
                        <p class="ec-input">受　　付　　者：<span class="customer-edit customer-uketsuke_name">{{ Order.uketsuke_name }}</span></p>
                        <p class="ec-input hiddenItem">紹　　介　　者：<span class="customer-edit customer-shoukai_name">{{ Order.shoukai_name }}</span></p>
                        <p class="ec-input">社　　　　　員：<span class="customer-edit customer-shain_flg">{{ Order.shain_flg }}</span>
                            <span id="customer-shain">
                            </span>
                        </p>
                    </div>
                    {% if is_granted('ROLE_USER') == false %}
                        <div class="ec-borderedDefs  non-customer-edit" style="display:none;">
                            <dl>
                                <dt>
                                    <label class="ec-label required">{{ 'お名前'|trans }}</label>
                                    <span class="ec-required">{{ '必須'|trans }}</span>
                                </dt>
                                <dd>
                                    <div class="ec-halfInput">
                                        <span class="customer-form customer-name01"></span>
                                        <span class="customer-form customer-name02"></span>
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label class="ec-label required">{{ 'お名前(カナ)'|trans }}</label>
                                    <span class="ec-required">{{ '必須'|trans }}</span>
                                </dt>
                                <dd>
                                    <div class="ec-halfInput">
                                        <span class="customer-form customer-kana01"></span>
                                        <span class="customer-form customer-kana02"></span>
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label class="ec-label" for="nonmember-uketori">{{ '受取方法'|trans }}</label>
                                    <span class="ec-required">{{ '必須'|trans }}</span>
                                </dt>
                                <dd>
                                    <div class="ec-telInput">
                                    <span class="customer-edit customer-uketori">{{ Order.uketori }}</p>
                                    </div>
                                </dd>
                            </dl>
                        <dl>
                            <dt>
                                <label class="ec-label required">{{ '電話番号'|trans }}</label>
                                <span class="ec-required">{{ '必須'|trans }}</span>
                            </dt>
                            <dd>
                                <div class="ec-telInput">
                                    <input type="input" class="form-control customer-form customer-phone_number" value="{{ Order.phone_number }}">
                                </div>
                            </dd>
                        </dl>
                            <dl class="hiddenItem">
                                <dt>
                                    <label class="ec-label" for="customer-company">{{ '会社名'|trans }}</label>
                                </dt>
                                <dd>
                                    <div class="ec-halfInput">
                                        <span class="customer-form customer-company"></span>
                                    </div>
                                </dd>
                            </dl>
                          <dl>
                            <dt>
                                <label class="ec-label">{{ '来店受取日'|trans }}</label>
                                <span class="ec-required">{{ '必須'|trans }}</span>
                            </dt>
                            <dd>
                                <div class="ec-input">
                                    <input type="date" class="form-control customer-form customer-ukedate" value="{{ Order.Ukedate|date('Y-m-d') }}">
                                </div>
                            </dd>
                        </dl>
                            {# 受取日追加　2024/09/24 田中 #}
                            <dl>
                                <dt>
                                    <label class="ec-label" for="nonmember_visit_t">{{ '来店受取時間'|trans }}</label>
                                </dt>
                                <dd>
                                    <div class="ec-telInput">
                                    <span class="customer-edit customer-visit_t">{{ Order.visit_t }}</p>
                                    </div>
                                </dd>
                            </dl>
                        {#{% if eccube_config.hdn_delivery_address_use %}#}
                             <!-- <dl> -->
                       {#{% else %}#}
                            <!--<dl class="hiddenItem"> -->
                         <!--{#{% endif %}#} -->
                        {% if Order.uketori == 'ヤマト配送' %}
                            {# お届け先住所 2024/09/17 田中 #}
                            <dl>
                                <dt>
                                    <label class="ec-label required">{{ 'ご依頼主様 住所'|trans }}</label>
                                </dt>
                                <dd>
                                    <div class="ec-zipInput">
                                        <span>{{ '〒'|trans }}</span>
                                        <span class="customer-form customer-postal_code"value ="{{ Order.postal_code }}"></span>
                                        <div class="ec-zipInputHelp">
                                            <div class="ec-zipInputHelp__icon">
                                                <div class="ec-icon">
                                                    <img src="{{ asset('assets/icon/question-white.svg') }}" alt="">
                                                </div>
                                            </div>
                                            <a href="https://www.post.japanpost.jp/zipcode/" target="_blank">
                                                <span>{{ '郵便番号検索'|trans }}</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ec-select" for="nonmember_pref">
                                        <span class="customer-form customer-pref customer-addr01" value = "{{ Order.pref }}{{Order.addr01}}"></span>
                                    </div>
                                    <div class="ec-input" for="nonmember_addr02">
                                        <span class="customer-form customer-addr02"value = "{{ Order.addr02 }}"></span>
                                    </div>
                                    </dd>
                                </dl>
                            <dl>
                                <dt>
                                    <label class="ec-label" for="nonmember_phone_number">{{ 'ご依頼主様話番号'|trans }}</label>
                                    <span class="ec-required">{{ '必須'|trans }}</span>
                                </dt>
                                <dd>
                                    <div class="ec-telInput">
                                        <span class="customer-form customer_phone_number"value= "{{ Order.phone_number }}"></span>
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label class="ec-label required">{{ 'お届け先住所'|trans }}</label>
                                    <span class="ec-required">{{ '必須'|trans }}</span>
                                </dt>
                                <dd>
                                    <div class="ec-zipInput">
                                        <span>{{ '〒'|trans }}</span>
                                        <span class="customer-form customer-h_postal_code">{{ Order.h_postal_code }}</span>
                                        <div class="ec-zipInputHelp">
                                            <div class="ec-zipInputHelp__icon">
                                                <div class="ec-icon">
                                                    <img src="{{ asset('assets/icon/question-white.svg') }}" alt="">
                                                </div>
                                            </div>
                                            <a href="https://www.post.japanpost.jp/zipcode/" target="_blank">
                                                <span>{{ '郵便番号検索'|trans }}</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ec-select" for="nonmember_h_pref">
                                        <span class="customer-form customer-h_pref customer-h_addr1">{{ Order.h_pref }}{{Order.h_addr1}}</span>
                                    </div>
                                    <div class="ec-input" for="nonmember_h_addr2">
                                        <span class="customer-form customer-h_addr2">{{ Order.h_addr2 }}</span>
                                    </div>
                                    </dd>
                                </dl>
                            <dl>
                                <dt>
                                    <label class="ec-label" for="nonmember_phone_number">{{ 'お届け先電話番号'|trans }}</label>
                                    <span font-coler = "red" >{{ '必須'|trans }}</span>
                                </dt>
                                <dd>
                                    <div class="ec-telInput">
                                        <span class="customer-form customer-h_phone_number">{{ Order.h_phone_number }}</span>
                                    </div>
                                </dd>
                            <!-- </dl>
                                <dl class="hiddenItem">
                                <dt>
                                    <label class="ec-label" for ="nomember_email">{{ 'メールアドレス'|trans }}</label>
                                    <span class="ec-required">{{ '必須'|trans }}</span>z
                                </dt>
                                <dd>
                                    <div class="ec-input">
                                        <span class="customer-form customer-email"></span>
                                    </div>
                                </dd>
                            </dl> -->
                           {% endif %}
                        <dl>
                            <dt>
                                <label class="ec-label">{{ '社員'|trans }}</label>
                            </dt>
                            <dd>
                                <div class="ec-checkbox">
                                    <input type="checkbox" class="customer-form customer-shain_flg" {% if Order.shain_flg %}checked{% endif %}>
                                </div>
                            </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label class="ec-label required">{{ '受付者'|trans }}</label>
                                    <span class="ec-required">{{ '必須'|trans }}</span>
                                </dt>
                                <dd>
                                    <div class="ec-input">
                                        <input type="text" class="form-control customer-form customer-uketsuke_name" value="{{ Order.uketsuke_name }}">
                                    </div>
                                </dd>
                            </dl>
                            {# 支払い状況変更　2024/11/14 田中 #}
                            <!-- <dl>
                                <dt>
                                    <label class="ec-label" for="nonmember_shiharai">{{ '支払い状況'|trans }}</label>
                                </dt>
                                <dd>
                                    <div class="ec-radio">
                                        <span class="customer-edit customer-shiharai">{{ Order.shiharai }}</span>
                                    </div>
                                </dd>
                            </dl> -->
                            {# 受付店鋪追加　2024/09/10 田中 #}
                            <dl>
                                <dt>
                                    <label class="ec-label" for="nonmember_tenpos">{{ '受付店鋪'|trans }}</label>
                                </dt>
                                <dd>
                                    <div class="ec-select">
                                        <span class="customer-edit nonmember_tenpos">{{ Order.Tenpos }}</span>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="hiddenItem">
                                <dt>
                                    <label class="ec-label" for="nonmember_shoukai_name">{{ '紹介者'|trans }}</label>
                                </dt>
                                <dd>
                                    <div class="ec-halfInput">
                                        <span class="customer-form customer-shoukai_name"></span>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="mod-button" style="display:none;">
                            <span id="customer-ok"><button type="button" class="ec-inlineBtn">{{ 'OK'|trans }}</button></span>
                            <span id="customer-cancel"><button type="button" class="ec-inlineBtn">{{ 'キャンセル'|trans }}</button></span>
                        </div>
                        <input type="hidden" id="customer-name01" class="customer-in" name="customer_name01" value="{{ Order.name01 }}">
                        <input type="hidden" id="customer-name02" class="customer-in" name="customer_name02" value="{{ Order.name02 }}">
                        <input type="hidden" id="customer-kana01" class="customer-in" name="customer_kana01" value="{{ Order.kana01 }}">
                        <input type="hidden" id="customer-kana02" class="customer-in" name="customer_kana02" value="{{ Order.kana02 }}">
                        <input type="hidden" id="customer-uketori" class="customer-in" name="customer_uketori" value="{{ Order.uketori }}">
                        <input type="hidden" id="customer-phone_number" class="customer-in" name="customer_phone_number" value="{{ Order.phone_number }}">
                        <input type="hidden" id="customer-company-name" class="customer-in" name="customer_company_name" value="{{ Order.companyName }}">
                        <input type="hidden" id="customer-postal_code" class="customer-in" name="customer_postal_code" value="{{ Order.postal_code }}">
                        <input type="hidden" id="customer-pref" class="customer-in" name="customer_pref" value="{{ Order.pref }}">
                        <input type="hidden" id="customer-addr01" class="customer-in" name="customer_addr01" value="{{ Order.addr01 }}">
                        <input type="hidden" id="customer-addr02" class="customer-in" name="customer_addr02" value="{{ Order.addr02 }}">
                        <input type="hidden" id="customer-email" class="customer-in" name="customer_email" value="{{ Order.email }}">
                        <input type="hidden" id="customer_Ukedate" class="customer-in" name="customer_Ukedate" value="{{ Order.Ukedate|date('Y年m月d日') }}">
                        <input type="hidden" id="customer_visit_t" class="customer-in" name="customer_visit_t" value="{{ Order.visit_t }}">
                        <input type="hidden" id="customer-uketsuke_name" class="customer-in" name="customer_uketsuke_name" value="{{ Order.uketsuke_name }}">
                        <input type="hidden" id="customer-shoukai_name" class="customer-in" name="customer_shoukai_name" value="{{ Order.shoukai_name }}">
                        <input type="hidden" id="customer-shain_flg" class="customer-in" name="customer_shain_flg" value="{{ Order.shain_flg }}">
                        <input type="hidden" id="customer-shiharai" class="customer-in" name="customer_shiharai" value="{{ Order.shiharai }}">
                        <input type="hidden" id="customer_tenpos" class="customer-in" name="customer_tenpos" value="{{ Order.tenpos }}">
                        <!-- <input type="hidden" id="customer_DeliveryTime" class="customer-in" name="customer_DeliveryTime" value="{{ Order.DeliveryTime }}"> -->
                        {# <input type="hidden" id ="customer_Shipping_delivery_date" class ="customer_in"name="customer_Shipping_delivery_date"value="{{Order.Shipping_delivery_date}}">  #}
                    {% endif %}
                </div>
                <div class="ec-orderDelivery">
                    <div class="ec-rectHeading">
                        <h2>{{ 'お引渡し情報'|trans }}</h2>
                    </div>
                    {% for shipping in Order.shippings %}
                        {% set idx = loop.index0 %}
                        {% set isShowReducedTaxMess = false %}
                        <div class="ec-orderDelivery__actions">
                            <div class="ec-selects">
                                <div class="ec-select hiddenItem">
                                    <label>{{ '配送方法'|trans }}</label>
                                    {{ form_widget(form.Shippings[idx].Delivery, { 'attr': { 'class': 'form-control', 'data-trigger': 'change' }}) }}
                                    {# {{ form_errors(form.Shippings[idx].Delivery) }} #}
                                </div>
                                <div class="ec-select ec-select__delivery">
                                    <label>{{ 'お引渡し日'|trans }}</label>
                                    {{ form_widget(form.Shippings[idx].shipping_delivery_date, {'attr': {'class': 'form-control'}}) }}
                                    {% if form.Shippings[idx].shipping_delivery_date == '' %}
                                    {{form.Shippings[idx].shipping_delivery_date}}
                                    {% endif %}
                                    {# {{ form_errors(form.Shippings[idx].shipping_delivery_date) }} #}
                                </div>
                                <div class="ec-select ec-select__time">
                                    <label>{{ 'お引渡し時間'|trans }}</label>
                                    {{ form_widget(form.Shippings[idx].DeliveryTime, {'attr': {'class': 'form-control'}}) }}
                                    {% if form.Shippings[idx].DeliveryTime == '' %}
                                    {{ form.Shippings[idx].DeliveryTime }}
                                    {% endif %}
                                    {{ form_errors(form.Shippings[idx].DeliveryTime) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="ec-orderDelivery__edit hiddenItem">
                        <button type="button" class="ec-inlineBtn" data-trigger="click" data-path="{{ path('shopping_shipping_multiple') }}">{{ 'お届け先を追加する'|trans }}</button>
                    </div>
                </div>
                <div class="ec-orderPayment">
                    <div class="ec-rectHeading">
                        <h2>{{ 'お支払方法'|trans }}</h2>
                    </div>
                    <div class="ec-radio">
                        {% for key, child in form.Payment %}
                            <div style="display: block;">
                                {% set Payment = form.Payment.vars.choices[key].data %}
                                {{ form_widget(child, { 'attr': { 'data-trigger': 'change' }}) }}
                                {% if Payment.payment_image is not null %}
                                    <p><img src="{{ asset(Payment.payment_image, 'save_image') }}"></p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="ec-input {{ has_errors(form.Payment) ? ' error' }}">{{ form_errors(form.Payment) }}</div>
                </div>
                {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
                    <div class="ec-orderPayment">
                        <div class="ec-rectHeading">
                            <h2>{{ '利用ポイント'|trans }}</h2>
                        </div>
                        <div class="ec-input {{ has_errors(form.use_point) ? ' error' }}">
                            <p>{{ '%point% pt が利用可能です。'|trans({ '%point%': Order.Customer.Point|number_format }) }}</p>
                            {{ form_widget(form.use_point, { 'attr': { 'type': 'text', 'class': 'form-control', 'data-trigger': 'change' }}) }}
                            {{ form_errors(form.use_point) }}
                        </div>
                    </div>
                {% endif %}
                <div class="ec-orderConfirm">
                    <div class="ec-rectHeading">
                        <h2>{{ '備考'|trans }}</h2>
                    </div>
                    <div class="ec-input">
                        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': '(3000文字まで)'|trans, 'rows': '6'}}) }}
                        {{ form_errors(form.message) }}
                    </div>
                </div>
                <div class="ec-orderDelivery">
                    <div class="ec-rectHeading">
                        <h2>{{ '商品情報'|trans }}</h2>
                    </div>
                    {% for shipping in Order.shippings %}
                        {% set idx = loop.index0 %}
                        {% set isShowReducedTaxMess = false %}
                        <div class="ec-orderDelivery__title hiddenItem">{{ 'お届け先'|trans }}{% if Order.multiple %}({{ loop.index }}){% endif %}
                            <div class="ec-orderDelivery__change">
                                {% if is_granted('ROLE_USER') %}
                                    <button class="ec-inlineBtn" data-id="{{ shipping.id }}" data-trigger="click" data-path="{{ path('shopping_shipping', {'id': shipping.id}) }}">{{ '変更'|trans }}</button>
                                {% else %}
                                    <button class="ec-inlineBtn" data-id="{{ shipping.id }}" data-trigger="click" data-path="{{ path('shopping_shipping_edit', {'id': shipping.id}) }}">{{ '変更'|trans }}</button>
                                {% endif %}
                            </div>
                        </div>
                        <div class="ec-orderDelivery__item">
                            <ul class="ec-borderedList">
                                {% for orderItem in shipping.productOrderItems %}
                                    <li>
                                        <div class="ec-imageGrid">
                                            <div class="ec-imageGrid__img"><img src="{{ asset((orderItem.product is null ? null : orderItem.product.MainListImage)|no_image_product, 'save_image') }}" alt="{{ orderItem.productName }}"></div>
                                            <div class="ec-imageGrid__content">
                                                <p>{{ orderItem.productName }}{% if is_reduced_tax_rate(orderItem) %}{{ '※'|trans }}{% set isShowReducedTaxMess = true %}{% endif %}</p>
                                                {% if orderItem.productClass is not null and orderItem.productClass.classCategory1 %}
                                                    <p class='hiddenItem'>{{ orderItem.productClass.classCategory1.className.name }}：{{ orderItem.productClass.classCategory1 }}</p>
                                                {% endif %}
                                                {% if orderItem.productClass is not null and orderItem.productClass.classCategory2 %}
                                                    <p class='hiddenItem'>{{ orderItem.productClass.classCategory2.className.name }}：{{ orderItem.productClass.classCategory2 }}</p>
                                                {% endif %}
                                                <p class='hiddenItem'>{{ orderItem.priceIncTax|price }} × {{ orderItem.quantity|number_format }}<span>{{ '小計：'|trans }}{{ orderItem.totalPrice|price }}</span></p>
                                                <p>{{ orderItem.price|price }} × {{ orderItem.quantity|number_format }}<span>{{ '小計：'|trans }}{{ (orderItem.price*orderItem.quantity)|price }}</span></p>
                                                <p>({{ orderItem.basePrice|price }}
                                                {% if orderItem.wariKikanGaku is not null and orderItem.wariKikanGaku > 0 %}- 早割{{ orderItem.wariKikanGaku }}{% endif %}
                                                {% if orderItem.wariMatomeGaku is not null and orderItem.wariMatomeGaku > 0 %}- まとめ{{ orderItem.wariMatomeGaku }}{% endif %}
                                                {% if orderItem.wariAGaku is not null and orderItem.wariAGaku > 0 %}- FC割{{ orderItem.wariAGaku }}{% endif %}
                                                {% if orderItem.wariBGaku is not null and orderItem.wariBGaku > 0 %}- 社割{{ orderItem.wariBGaku }}{% endif %}
                                                )</p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <p>{{ isShowReducedTaxMess ? '※ は軽減税率対象商品です。'|trans }}</p>
                        </div>
                        <div class="ec-orderDelivery__address hiddenItem">
                            <p>{{ ''|trans }}{{ shipping.name01 }} {{ shipping.name02 }} ({{ shipping.kana01 }} {{ shipping.kana02 }}){{ ' 様'|trans }}</p>
                            <p hidden>{{ '〒'|trans }}{{ shipping.postal_code }} {{ shipping.pref }}{{ shipping.addr01 }}{{ shipping.addr02 }}</p>
                            <p hidden>{{ shipping.phone_number }}</p>
                        </div>
                    {% endfor %}
                    <div class="ec-orderDelivery__edit hiddenItem">
                        <button type="button" class="ec-inlineBtn" data-trigger="click" data-path="{{ path('shopping_shipping_multiple') }}">{{ 'お届け先を追加する'|trans }}</button>
                    </div>
                </div>
            </div>
            <div class="ec-orderRole__summary">
                <div class="ec-totalBox">
                    <dl class="ec-totalBox__spec">
                        <dt>{{ '商品合計'|trans }}</dt>
                        <dd class="ec-totalBox__specTotal">{{ (Order.subtotal-Order.tax)|price }}</dd>
                    </dl>
                    <dl class="ec-totalBox__spec">
                        <dt>{{ '消費税'|trans }}</dt>
                        <dd class="ec-totalBox__specTotal">{{ Order.tax|price }}</dd>
                    </dl>
                    <dl class="ec-totalBox__spec hiddenItem">
                        <dt>{{ '小計'|trans }}</dt>
                        <dd class="ec-totalBox__specTotal">{{ Order.subtotal|price }}</dd>
                    </dl>
                    <dl class="ec-totalBox__spec hiddenItem">
                        <dt>{{ '手数料'|trans }}</dt>
                        <dd>{{ Order.charge|price }}</dd>
                    </dl>
                    <dl class="ec-totalBox__spec hiddenItem">
                        <dt>{{ '送料'|trans }}</dt>
                        <dd>{{ Order.deliveryFeeTotal|price }}</dd>
                    </dl>
                    {% if Order.taxable_discount < 0 %}
                    <dl class="ec-totalBox__spec hiddenItem">
                        <dt>{{ '値引き'|trans }}</dt>
                        <dd>{{ Order.taxable_discount|price }}</dd>
                    </dl>
                    {% endif %}
                    <div class="ec-totalBox__total hiddenItem">{{ '合計'|trans }}<span class="ec-totalBox__price">{{ Order.taxable_total|price }}</span><span class="ec-totalBox__taxLabel">{{ '税込'|trans }}</span></div>
                    {% for rate, total in Order.taxable_total_by_tax_rate %}
                    <dl class="ec-totalBox__taxRate hiddenItem">
                        <dt>{{ '税率 %rate% %対象'|trans({ '%rate%': rate }) }}</dt>
                        <dd>{{ total|price }}</dd>
                    </dl>
                    {% endfor %}
                    {% for item in Order.tax_free_discount_items %}
                        {% if loop.first %}<div class="ec-totalBox__total"></div>{% endif %}
                        <dl class="ec-totalBox__spec">
                            <dt>{{ item.product_name }}</dt>
                            <dd>{{ item.total_price|price }}</dd>
                        </dl>
                    {% endfor %}
                    <div class="ec-totalBox__paymentTotal">{{ 'お支払い合計'|trans }}<span class="ec-totalBox__price">{{ Order.payment_total|price }}</span><span class="ec-totalBox__taxLabel">{{ '税込'|trans }}</span></div>
                    {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
                    <div class="ec-totalBox__pointBlock">
                        <dl class="ec-totalBox__spec">
                            <dt>{{ 'ご利用ポイント'|trans }}</dt>
                            <dd>{{ Order.UsePoint|number_format }} pt</dd>
                        </dl>
                        <dl class="ec-totalBox__spec">
                            <dt><span class="ec-font-bold">{{ '加算ポイント'|trans }}</span></dt>
                            <dd><span class="ec-font-bold">{{ Order.AddPoint|number_format }} pt</span></dd>
                        </dl>
                    </div>
                    {% endif %}
                    <div class="ec-totalBox__btn">
                        <button type="submit" class="ec-blockBtn--action">{{ '確認する'|trans }}</button>
                        <a href="{{ url("cart") }}" class="ec-blockBtn--cancel">{{ 'カートに戻る'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
